<!--
 <p-dialog header="Edit Metadata" [(visible)]="displayDialog" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
            [draggable]="false" [resizable]="false">
    <p-listbox [options]="metaList" [(ngModel)]="selectedMetaData" optionLabel="name" [style]="{'width':'15rem'}"></p-listbox>
    <ng-template pTemplate="footer">
      <p-button (click)="displayDialog=false" label="No" styleClass="p-button-text"></p-button>
      <p-button (click)="displayDialog=false" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
 -->

<p>table-metadata-dialog works!</p>
