<div>
  <p-table [value]="filteredMetaData || []" [scrollable]="true" scrollHeight="400px"
           [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columnNames">{{ col }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-metaInfo>
      <tr>
        <td>{{ metaInfo.field }}</td>
        <td>{{ metaInfo.type }}</td>
        <td>{{ metaInfo.nullable }}</td>
        <td>{{ metaInfo.key }}</td>
        <td>{{ metaInfo.defaultValue }}</td>
        <td>
          <p-button label="Delete" styleClass="p-button-primary"></p-button>
        </td>
        <td>
          <p-button label="Edit" styleClass="p-button-primary"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator [rows]="rows" [rowsPerPageOptions]="[5,10, 20, 30]" (onPageChange)="change($event)"
               [totalRecords]="metaData.length"></p-paginator>

  <div class="button-container">
    <p-button icon="pi pi-check" label="Add Metadata" styleClass="p-button-primary equal-width-button"></p-button>
    <div class="spacer"></div>
    <div class="right-buttons">
      <p-button icon="pi pi-check" label="Cancel" styleClass="p-button-primary equal-width-button"></p-button>
      <p-button icon="pi pi-check" label="Save" styleClass="p-button-primary equal-width-button"></p-button>
    </div>
  </div>
</div>
